.btn-outline
	color inherit
	transition all .5s
	background-color transparent

.btn-primary.btn-outline
	color #428bca
	background-color transparent

.btn-success.btn-outline
	color #5cb85c
	background-color transparent

.btn-info.btn-outline
	color #5bc0de
	background-color transparent

.btn-warning.btn-outline
	color #f0ad4e
	background-color transparent

.btn-danger.btn-outline
	color #d9534f
	background-color transparent

.btn-outline-danger	
	background-color white
	color $red
	border-color $red
	
.btn-outline-danger:hover	
	background-color $red
	color white
	border-color $red
	
.btn-with-sup
	width: 36px
	
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover
	color #fff