.float-right
	float right
	
.align-container-padding-1x
	padding-left  2 * $pad
	padding-right  2 * $pad
	
.text-danger
	color $red

.text-danger:hover
	color $red-dark
	
.add-margin-bottom
	margin-bottom $pad
	
.pointer
	cursor: pointer
	
tr.row-disabled
	background-color #E0E0E0 !important
	opacity 0.5
	