.modal__animated
	top 5%
	left 25%
	
	.modal-close
		position absolute
		top 1px
		right 10px
		color #000
	
	.modal-align-form
		margin-bottom -2 * $pad

.overlay
	z-index 1000
	opacity 1
	background rgba(255,255,255,0.8)
	box-shadow none
	transition: all 3s
	
.has-modal:before
	box-shadow none
	transition: all 3s
	