@import './variables.styl'
@import './buttons.styl'
@import './helpers.styl'
@import './nav-bar.styl'
@import './tabs.styl'
@import './modals.styl'
@import './text.styl'

body
	margin 0

.overlay
	overflow auto

.form-element-error
	margin-bottom $pad
	
.grid-flex-container
	margin-left $pad
	margin-right $pad
	
@media screen and (max-width: 768px)
	.top-nav
		background-color $blue
	
	.button-outlined, .button-outlined:hover, li.app-name
		background-color white
		
	li.app-name a
		color $blue
	
	li.app-name
		text-align center

	.float-right
		float: none
	
nav.top-nav ul
	z-index 20
	
.dropdown-standalone.dropdown-outlined .dropdown
	min-width 100px
	background-color white
	z-index 90
	
tr.animated
	animation-fill-mode none
	
.nav-tabs>li.active>a
	background-color $blue-dark
	border-color $blue-darker
	color #fff
	
.nav-tabs>li.active>a:hover
	background-color $blue-darker
	border-color $blue-darker
	cursor: pointer

.nav-tabs>li>a:hover
	background-color $blue-light
	border-color $blue
	cursor: pointer
	
.btn-group-xs > div > .btn
	padding 1px 5px
	font-size 12px
	line-height 1.5
	border-radius 1px
	
input.form-control
select.form-control
textarea.form-control
	border-color #A2A2A2 !important
	
input.form-control:hover
select.form-control:hover
textarea.form-control:hover
	border-color #CCCCCC !important
	
input.form-control:focus
select.form-control:focus
textarea.form-control:focus
	border-color #3993d9 !important
	box-shadow 0 0 2px #3993d9 !important
	transition all 0.17s linear !important
	
.has-error .form-control
	border-color #a94442 !important 
	box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075) !important
	
.modal-container
	position relative
	padding-right 0 !important

.modal-container .modal, .modal-container .modal-backdrop
	position absolute