@import 'yeticss'
@import './variables.styl'
@import './buttons.styl'
@import './helpers.styl'
@import './nav-bar.styl'

.form-element-error
	margin-bottom $pad
	
.grid-flex-container
	margin-left $pad
	margin-right $pad
	
@media screen and (max-width: 768px)
	.top-nav
		background-color $blue
	
	.button-outlined, .button-outlined:hover, li.app-name
		background-color white
		
	li.app-name a
		color $blue
	
	li.app-name
		text-align center

	.float-right
		float: none		
		
.container-fluid
	width 100%
	padding-right $pad
	padding-left $pad
	
.tab-body
	padding-right $pad
	padding-left $pad
	border-bottom 2px solid #e6eaed
	border-left 2px solid #e6eaed
	border-right 2px solid #e6eaed
	margin-top -($pad)
	
ul.tabs
	margin-bottom $pad