.container-fluid
	width 100%
	padding-right $pad
	padding-left $pad
	
.tab-body
	padding $pad
	padding-top 2 * $pad
	border-bottom 1px solid #e6eaed
	border-left 1px solid #e6eaed
	border-right 1px solid #e6eaed
	
ul.tabs
	margin-bottom $pad