.container-fluid
	width 100%
	padding-right $pad
	padding-left $pad
	
.tab-body
	padding-right $pad
	padding-left $pad
	padding-top 2 * $pad
	border-bottom 2px solid #e6eaed
	border-left 2px solid #e6eaed
	border-right 2px solid #e6eaed
	margin-top -($pad)
	
ul.tabs
	margin-bottom $pad